.display-projects {
  
    max-width: 800px;
    margin: 20px auto;
    padding: 55px;
    background-color: #c8cbd0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .projects-table {
    padding: 0%;
  
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px black;
  }
  
  .projects-table th {
    text-align: center;
    padding: 8px;
    background-color: black;
    color: white;
    border: 2px solid black;
  }
  
  
  
  .projects-table td {
  
    padding: 6px 8px;
    text-align:center;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
  }
  .success-message1 {
    font-size: large;
    text-align: center;
    font-weight: bold;
    color: black;
  }
  .button-delete{
    display: block;
    width: 70px;
    font-weight: bold;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  .button-delete:hover {
    background-color: black;
  }